.contenedor {
  background-color:#004D93;
}

.border {
  border-radius: 30px;padding: 30px;margin-top: 3%;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-left: auto;
}

.pregunta {
  color: white;
  font-size: x-large;
}

.respuesta {
  background-color: #FED000;
}

textarea {
  height: 120px;
  resize: none;
}

.btn {
  background-color: #FED000;
}

.right {
  text-align: right;
  margin-top: 5px;
}
