<div class = "contenedor border">
<div class="container" id="border">

    <div class="center">
        <div class="center">
            <label class="pregunta">RESPUESTAS</label>
        </div>
    </div>
  
    <table class="table table-bordered wtable  respuesta">
        <thead>
            <tr>
                <th>Contenido</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let resp of respuestas">
                <td class="big">
                    <p>{{resp.contenido}}</p>
                </td>
                <td class= "small">
                    <p> {{resp.fecha}}</p>
                </td>
            </tr>
        </tbody>
    </table>
    <div><button type="button" class="btn btn-success izquierda" [hidden] = '!ocultoAnterior' (click)="irAnterior()">Anterior</button>
        <button type="button" class="btn btn-success derecha" [hidden] = '!ocultoSiguiente' (click)="irSiguiente()">Siguiente</button></div>
</div>
<div>
    <br>
</div>
</div>
